*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-image: url(./img/road.jpg);
    background-size: cover;
    background-position: center;

}

/* total time */
.total{
    text-align: center;
    padding: 20px;
}
.total > input{
    padding: 8px;
}
.total > button{
    padding: 8px 16px;
}

/* ratio inputs */
.ratio-inputs{
    padding: 20px;
    text-align: center;
}
.ratio-inputs > input{
    padding: 8px;
}
.ratio-inputs > button{
    padding: 8px;
}
.signal{
    display: flex;
    justify-content: space-around;
    margin: 50px 0 0 0;
}
.box{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}
.light{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    width: 100px;
    gap: 10px;
    background-color: white;
    color: white;
    padding: 10px;
    background-color: rgb(20, 20, 20);
}
.ratio{
    width:90px;
}
.light-red{
    background-color: rgb(255, 186, 186);
}
.light-yellow{
    background-color: rgb(231, 211, 159);
}
.light-green{
    background-color: rgb(193, 245, 193);
}
.red{
    background-color: red;
}

.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.time-counter{
    text-align: center;
    padding: 8px ;
}
